trunk/SMSService/src/xsd/SMSService.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="http://www.ish.com/soa/sms" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" targetNamespace="http://www.ish.com/soa/sms" version="1.0">

	<xs:element name="studentListDTO" type="studentListDTO" />
	<xs:element name="teacherListDTO" type="teacherListDTO" />
	<xs:element name="associateListDTO" type="associateListDTO"/>
	<xs:element name="classListDTO" type="classListDTO" />	
	<xs:element name="classAttendanceDefListDTO" type="classAttendanceDefListDTO" />
	<xs:element name="associateDTO" type="associateDTO" /> 
	<xs:element name="studentDTO" type="studentDTO" />
	<xs:element name="teacherDTO" type="teacherDTO" />
	<xs:element name="referenceListDTO" type="referenceListDTO" />
	<xs:element name="classDTO" type="classDTO" />
	<xs:element name="associateAttendanceDTO" type="associateAttendanceDTO" />
	<xs:element name="classAttendanceDefDTO" type="classAttendanceDefDTO" />
	<xs:element name="stringListDTO" type="stringListDTO" />
	<xs:element name="associateAttendanceListDTO" type="associateAttendanceListDTO" />
	<xs:element name="referenceDataDTO" type="referenceDataDTO" />
	<xs:element name="classTimeTableDTO" type="classTimeTableDTO"/>
	<xs:element name="classExamReferenceDataDTO" type="classExamReferenceDataDTO"/>
	<xs:element name="classSubjectReferenceDataDTO" type="classSubjectReferenceDataDTO"/>
	<xs:element name="classTimeTableListDTO" type="classTimeTableListDTO"/>
	<xs:element name="userDetailsDTO" type="userDetailsDTO"/>
	<xs:element name="userRoleDTO" type="userRoleDTO" />
	<xs:element name="studentGradeDTO" type="studentGradeDTO"/>	
	<xs:element name="studentGradeListDTO" type="studentGradeListDTO" />
	<xs:element name="classGradeDetailsDTO" type="classGradeDetailsDTO" />
	<xs:element name="chartValueDTO" type="chartValueDTO" />
	<xs:element name="chartSeriesDTO" type="chartSeriesDTO" />
	<xs:element name="chartSeriesListDTO" type="chartSeriesListDTO" />

			
	<xs:complexType name="stringListDTO">
		<xs:sequence>
			<xs:element name="stringListDTO" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<!-- dto definitions corresponding to report definitions  - start-->
	<xs:complexType name="chartValueDTO">
		<xs:sequence>
			<xs:element name="xLabel" type="xs:string" />
			<xs:element name="yValue" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="chartSeriesDTO">
		<xs:sequence>
			<xs:element name="chartValueListDTO" type="chartValueDTO" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="seriesLabel" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="chartSeriesListDTO">
		<xs:sequence>
			<xs:element name="chartSeriesListDTO" type="chartSeriesDTO" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	
	<!-- dto definitions corresponding to report definitions  - end-->

	<!-- dto definitions corresponding to user definitions  - start-->
	<xs:complexType name="userRoleDTO">
		<xs:sequence>
			<xs:element name="id" type="xs:int" minOccurs="0" />
			<xs:element name="roleName" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="userDetailsDTO">
		<xs:sequence>
			<xs:element name="id" type="xs:int" minOccurs="0" />
			<xs:element name="userRoleDTO" type="userRoleDTO" />
			<xs:element name="name" type="xs:string"/>
			<xs:element name="password" type="xs:string" />
			<xs:element name="classListDTO" type="classListDTO" />
		</xs:sequence>
	</xs:complexType>
	<!-- dto definitions corresponding to user definitions  - end-->

	<!-- dto definitions corresponding to class grade definitions  - start-->

	<xs:complexType name="gradeDetailsDTO">
		<xs:sequence>
			<xs:element name="mark" type="xs:int" minOccurs="0"/>
			<xs:element name="grade" type="xs:string"  minOccurs="0"/>
			<xs:element name="gradeDetailsId" type="xs:int" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="studentGradeDTO">
		<xs:sequence>
			<xs:element name="studentDTO" type="studentDTO" />
			<xs:element name="gradeDetailsMap" type="gradeDetails" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="gradeDetails">
       	  <xs:sequence>
           	<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
           	  	<xs:complexType>
               	 	<xs:sequence>
               			<xs:element name="key" type="classSubjectReferenceDataDTO"/>
						<xs:element name="value" type="gradeDetailsDTO" />		
               	  	</xs:sequence>
             	</xs:complexType>
           	</xs:element>
      	  </xs:sequence>
   	</xs:complexType>	

	<xs:complexType name="studentGradeListDTO">
		<xs:sequence>
			<xs:element name="studentGradeDTOList" type="studentGradeDTO" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>	

	<xs:complexType name="classGradeDetailsDTO">
		<xs:sequence>
			<xs:element name="classDTO" type="classDTO" />
			<xs:element name="classExamReferenceDataDTO" type="classExamReferenceDataDTO" />
			<xs:element name="studentGradeListDTO" type="studentGradeListDTO" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<!-- dto definitions corresponding to class grade definitions  - end-->
	
	<!-- dto definitions corresponding to class definitions  - start-->
	
	<xs:complexType name="classDTO">
		<xs:sequence>
			<xs:element name="id" type="xs:int" minOccurs="0" />
			<xs:element name="name" type="xs:string" />
			<xs:element name="teacherDTO" type="teacherDTO" minOccurs="0" />
			<xs:element name="studentCount" type="xs:int" minOccurs="0" />
			<xs:element name="startYear" type="xs:int" minOccurs="0" />
			<xs:element name="active" type="xs:string" minOccurs="0" />
			<xs:element name="classTimeTableDTOList" type="classTimeTableDTO" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="classSubjectReferenceDataDTOList" type="classSubjectReferenceDataDTO" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="classExamReferenceDataDTOList" type="classExamReferenceDataDTO" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="classListDTO">
		<xs:sequence>
			<xs:element name="classDTOList" type="classDTO"	minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>	
	
	<xs:complexType name="classReferenceDataDTO">
		<xs:sequence>
			<xs:element name="id" type="xs:int" minOccurs="0" />
			<xs:element name="referenceDataDTO" type="referenceDataDTO" />
		</xs:sequence>
	</xs:complexType>	
	
	<xs:complexType name="classSubjectReferenceDataDTO">
		<xs:complexContent>
			<xs:extension base="classReferenceDataDTO">	
				<xs:sequence>
					<xs:element name="teacherDTO" type="teacherDTO" />		
				</xs:sequence>
			</xs:extension>	
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="classExamReferenceDataDTO">
		<xs:complexContent>
			<xs:extension base="classReferenceDataDTO">	
				<xs:sequence>
				</xs:sequence>
			</xs:extension>	
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="classTimeTableDTO">
		<xs:sequence>
			<xs:element name="id" type="xs:int" minOccurs="0" />
			<xs:element name="dayOfWeekDTO" type="referenceDataDTO" />
			<xs:element name="classSubjectReferenceDataDTO" type="classSubjectReferenceDataDTO" />
			<xs:element name="startTime" type="xs:string" minOccurs="0"/>
			<xs:element name="endTime" type="xs:string"  minOccurs="0"/>
			<xs:element name="periodName" type="xs:string"  minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>	
	<xs:complexType name="classTimeTableListDTO">
		<xs:sequence>
			<xs:element name="classTimeTableDTOList" type="classTimeTableDTO"	minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<!-- dto definitions corresponding to class definitions  - end-->
		
	<!-- dto definitions corresponding to class attendance definitions  - start-->
	<xs:complexType name="classAttendanceDefDTO">
		<xs:sequence>
			<xs:element name="id" type="xs:int" minOccurs="0" />
			<xs:element name="monthYear" type="xs:string" />
			<xs:element name="classDTO" type="classDTO" minOccurs="0"/>
			<xs:element name="modification" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="classAttendanceDefListDTO">
		<xs:sequence>
			<xs:element name="classAttendanceDefDTOList" type="classAttendanceDefDTO"	minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="associateAttendanceListDTO">
		<xs:sequence>
			<xs:element name="associateAttendanceListDTO" type="associateAttendanceDTO" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="associateAttendanceDTO">
	  <xs:sequence>	 
		<xs:element name="id" type="xs:int" minOccurs="0" />
		<xs:element name="attendanceMap" type="attendances" minOccurs="0"/>
		<xs:element name="studentDTO" type="studentDTO" />
		<xs:element name="classAttendanceDefDTO" type="classAttendanceDefDTO"  minOccurs="0"/>	
      </xs:sequence>			
	</xs:complexType>	
	<xs:complexType name="attendances">
       	  <xs:sequence>
           	<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
           	  	<xs:complexType>
               	 	<xs:sequence>
               			<xs:element name="key" type="xs:string"/>
						<xs:element name="value" type="xs:boolean" />		
               	  	</xs:sequence>
             	</xs:complexType>
           	</xs:element>
      	  </xs:sequence>
   	</xs:complexType>
	<!-- dto definitions corresponding to class attendance definitions  - end-->


	<!-- dto definitions corresponding to reference data definitions  - start-->
	<xs:complexType name="referenceListDTO">
		<xs:sequence>
			<xs:element name="stateDTOList" type="referenceDataDTO"	minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="extraCurricularDTOList" type="referenceDataDTO"	minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="bloodGroupDTOList" type="referenceDataDTO"	minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="modeofTransportDTOList" type="referenceDataDTO"	minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="classDTOList" type="classDTO"	minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="subjectDTOList" type="referenceDataDTO"	minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="teacherDTOList" type="teacherDTO"	minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="dayOfWeekDTOList" type="referenceDataDTO"	minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="examDTOList" type="referenceDataDTO"	minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="classNameList" type="xs:string"	minOccurs="0" maxOccurs="unbounded" />									
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="referenceDataDTO">
		<xs:sequence>
			<xs:element name="id" type="xs:int" minOccurs="0" />
			<xs:element name="name" type="xs:string" />
			<xs:element name="type" type="xs:string" />
			<xs:element name="additionalData" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<!-- dto definitions corresponding to reference data definitions  - end-->

	<!-- dto definitions corresponding to associate definitions  - start-->
	<xs:complexType name="associateDTO">
		<xs:sequence>
			<xs:element name="id" type="xs:int" minOccurs="0" />
			<xs:element name="firstName" type="xs:string" />
			<xs:element name="fatherName" type="xs:string" />
			<xs:element name="motherName" type="xs:string" />
			<xs:element name="gender" default="Male">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Male" />
						<xs:enumeration value="Female" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="address" type="xs:string" />
			<xs:element name="stateDTO" type="referenceDataDTO" />
			<xs:element name="city" type="xs:string" />
			<xs:element name="zipCode" type="xs:int" minOccurs="0" />
			<xs:element name="contactNo" type="xs:int" minOccurs="0" />
			<xs:element name="contactEmail" type="xs:string" minOccurs="0" />
			<xs:element name="emergencyContactNo" type="xs:int" minOccurs="0" />
			<xs:element name="otherContactInfo" type="xs:string" minOccurs="0" />
			<xs:element name="bloodGroupDTO" type="referenceDataDTO" />
			<xs:element name="dateofJoining" type="xs:string" />
			<xs:element name="dateofBirth" type="xs:string" />
			<xs:element name="age" type="xs:int" minOccurs="0" />
			<xs:element name="comments" type="xs:string" minOccurs="0" />
			<xs:element name="previousSchool" type="xs:string"	minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="studentDTO">
		<xs:complexContent>
			<xs:extension base="associateDTO">
				<xs:sequence>
					<xs:element name="joiningClassDTO" type="classDTO" />
					<xs:element name="currentClassDTO" type="classDTO" />
					<xs:element name="extraCurricularInterestDTO" type="referenceDataDTO" />
					<xs:element name="modeofTransportDTO" type="referenceDataDTO" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="teacherDTO">
		<xs:complexContent>
			<xs:extension base="associateDTO">
				<xs:sequence>
					<xs:element name="previousOccupation" type="xs:string" minOccurs="0"/>
					<xs:element name="education" type="xs:string" minOccurs="0" />
					<xs:element name="experience" type="xs:int" minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="studentListDTO">
		<xs:sequence>
			<xs:element name="studentDTOList" type="studentDTO"	minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="teacherListDTO">
		<xs:sequence>
			<xs:element name="teacherDTOList" type="teacherDTO"	minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="associateListDTO">
		<xs:sequence>
			<xs:element name="associateListDTO" type="associateDTO"	minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<!-- dto definitions corresponding to associate definitions  - end-->
	
</xs:schema>